.post {
    word-break: break-word;

    &__header {
        align-items: center;
        border-bottom: 1px solid #fb6652;
        display: flex;
        justify-content: space-between;
        padding-bottom: calc(var(--gutter) * 2);
    }

    &__title {
        margin-bottom: 0;
    }

    &__date {
        color: #a9a9a9;
        font-style: italic;
    }

    &__anchor {
        color: #fb6652;
        text-decoration: none;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-top: calc(var(--gutter) * 4);
    }

    &__navigation-next {
        margin-left: auto;
    }
}