.post {
    word-break: break-word;

    &__header {
        border-bottom: 1px solid #a9a9a9;
        padding-bottom: var(--gutter);
    }

    &__date {
        color: #a9a9a9;
        font-style: italic;
    }

    &__anchor {
        color: #a9a9a9;
        text-decoration: none;
    }
}

.post-list {
    &__title {
        font-weight: 400;
    }

    &__link {
        text-decoration: none;
    }
}