.post-list {
    margin-top: calc(var(--gutter) * -1);

    &__item {
        margin-top: calc(var(--gutter));
    }

    &__title {
        display: inline;
        font-weight: 400;
    }

    &__link {
        text-decoration: none;
    }
}