<!-- SITE FOOTER -->
<footer class="site-footer" role="contentinfo">
    <div class="site-footer__column">
        © {{ 'now' | date: "%Y" }} {{ site.author }}
    </div>

    <div class="site-footer__column">
        <ul class="site-contacts">
            {% for item in site.contacts %}
            <li class="site-contacts__item">
                <a href="{{ item.url }}" class="site-contacts__link" target="_blank">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>
<!-- /SITE FOOTER -->