<!-- SITE FOOTER -->
<footer class="site-footer">
    <div class="site-footer__column">
        &copy; {{ 'now' | date: "%Y" }} Вадим Богомазов Джаст фор фан
    </div>

    <div class="site-footer__column">
        <ul class="site-contacts">
            <li class="site-contacts__item">
                <a href="mailto:bogomazov.vadim@yandex.ru" class="site-contacts__link">{{ site.email }}</a>
            </li>
            <li class="site-contacts__item">
                <a href="https://moikrug.ru/vadimbogomazov" class="site-contacts__link" target="_blank">Мой круг</a>
            </li>
            <li class="site-contacts__item">
                <a href="https://toster.ru/user/bogomazov_vadim" class="site-contacts__link" target="_blank">Тостер</a>
            </li>
        </ul>
    </div>
</footer>
<!-- /SITE FOOTER -->