<!-- PAGE FOOTER -->
<footer class="page-footer" role="contentinfo">
    <div class="page-footer__column">
        © {{ 'now' | date: "%Y" }} {{ site.author }}
    </div>

    <div class="page-footer__column">
        <ul class="page-contacts">
            {% for item in site.contacts %}
            <li class="page-contacts__item">
                <a href="{{ item.url }}" class="page-contacts__link" target="_blank">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>
<!-- /PAGE FOOTER -->