:root {
    --bgSelection: #ee007b;
    --colorSelection: #fff;
    --gutter: 0.8rem;
    --linkColor: #0060a0;
    --linkColorSelected: #ee007b;
    --mainColor: #2c3e50;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--bgSelection);
    color: var(--colorSelection);
}

html,
body {
    font-size: 50%;
    height: 100%;

    @media (min-width: 768px) {
        font-size: 62.5%;
    }
}

body {
    color: var(--mainColor);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
}

a {
    color: var(--linkColor);

    &:hover {
        color: var(--linkColorSelected);
    }
}

.site-wrapper {
    display: grid;
    font-size: 1.8rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem;
    min-height: 100%;
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    width: 90%;
}

.site-content {
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.main {
    flex-grow: 1;
}

.site-section:not(:first-of-type) {
    margin-top: calc(var(--gutter) * 4);
}