:root {
    --linkColor: #0060a0;
    --linkColorSelected: #ee007b;
    --gutter: 0.8rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    height: 100%;

    @media (max-width: 767px) {
        font-size: 50%;
    }
}

body {
    color: #2c3e50;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

a {
    color: var(--linkColor);

    &:hover {
        color: var(--linkColorSelected);
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    line-height: 1.2;
    margin-top: 0;
}

h1,
.h1 {
    font-size: 3.2rem;
    margin-bottom: 0.5em;
}

h2,
.h2 {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
}

h3,
.h3 {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: calc(var(--gutter) * 2);
    margin-top: calc(var(--gutter) * 2);
}

ul {
    margin-bottom: calc(var(--gutter) * 2);
    margin-top: calc(var(--gutter) * 2);
}

.page-wrapper {
    display: grid;
    font-size: 1.8rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem;
    min-height: 100%;
    width: 90%;
}

.page-nav {
    &__inner {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        margin-left: calc(var(--gutter) * -2);
        margin-top: calc(var(--gutter) * -2);
    }

    &__item {
        margin-left: calc(var(--gutter) * 2);
        margin-top: calc(var(--gutter) * 2);
    }

    &__val {
        &.is-active {
            color: var(--linkColorSelected);
        }
    }
}

.page-content {
    max-width: 84rem;
}

.page-section:not(:first-of-type) {
    margin-top: calc(var(--gutter) * 4);
}

.page-list {
    @include list-reset;
}

.page-header {
    padding: calc(var(--gutter) * 2) 0;

    &__title {
        font-size: calc(var(--gutter) * 5);
    }
}

.page-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-left: calc(var(--gutter) * -2);
    margin-top: calc(var(--gutter) * -2);
    padding: calc(var(--gutter) * 2) 0;

    &__column {
        margin-left: calc(var(--gutter) * 2);
        margin-top: calc(var(--gutter) * 2);
    }
}

.page-contacts {
    @include list-reset;
    align-items: center;
    display: flex;
    margin: 0 0 0 calc(var(--gutter) * -1);

    &__item {
        margin-left: calc(var(--gutter));
    }
}

.tags-list {
    @include list-reset;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -1);
    margin-top: calc(var(--gutter) * -1);
    max-width: 50%;
    overflow: hidden;

    &__item {
        margin-left: calc(var(--gutter));
        margin-top: calc(var(--gutter));
    }
}

.tag {
    background: #b22222; 
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: calc(var(--gutter) * 2);
    height: calc(var(--gutter) * 4);
    line-height: calc(var(--gutter) * 4);
    padding: 0 calc(var(--gutter) * 2);
    position: relative;
    text-decoration: none;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.post {
    word-break: break-word;

    &__header {
        border-bottom: 1px solid #ddd;
        padding-bottom: var(--gutter);
    }

    &__date {
        font-style: italic;
    }
}