:root {
    --linkColor: #0060a0;
    --linkColorSelected: #ee007b;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

a {
    color: var(--linkColor);

    &:hover {
        color: var(--linkColorSelected);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.site-wrapper {
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    min-height: 100%;
}

.site-nav {
    &__inner {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;
        margin-left: -1.6rem;
        margin-top: -1.6rem;
    }

    &__item {
        margin-left: 1.6rem;
        margin-top: 1.6rem;
    }

    &__link {
        &.is-active {
            color: var(--linkColorSelected);
        }
    }
}

.site-content {
    font-size: 3.2rem;
}

.site-list {
    @include list-reset;
}

.site-header {
    padding: 1rem 0;
}

.site-footer {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 1rem 0;
}

.site-contacts {
    @include list-reset;
    align-items: center;
    display: flex;
    margin-left: -0.8rem;

    &__item {
        margin-left: 0.8rem;
    }
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.tags li {
    float: left; 
}

.tag {
    background: #eee;
    border-radius: 3px;
    color: #666;
    display: inline-block;
    font-size: 1.6rem;
    height: 26px;
    line-height: 26px;
    padding: 0 2.4rem;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    background-color: crimson;
    color: white;
}

.tag:hover {
    background-color: crimson;
    color: white;
}