h1,
h2,
h3,
.h1,
.h2,
.h3 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0;
}

h1,
.h1 {
    font-size: 3.2rem;
}

h2,
.h2 {
    font-size: 2.8rem;
}

h3,
.h3 {
    font-size: 2.4rem;
}

p {
    margin-bottom: calc(var(--gutter) * 2);
    margin-top: calc(var(--gutter) * 2);
}

ul {
    margin-bottom: calc(var(--gutter) * 2);
    margin-top: calc(var(--gutter) * 2);
    padding-left: 2rem;
}