.site-header {
    padding: calc(var(--gutter) * 2) 0;

    &__row {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    &__title {
        font-size: calc(var(--gutter) * 5);
        margin: 0;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
}