<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{page.title}} {% if site.description %}|{% endif %} {{site.description}}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <div class="site-wrapper">
        {% include header.html %}

        <main class="site-content">
            {{content}}
        </main>

        {% include footer.html %}
    </div>
</body>
</html>