---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fff">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#fff">
    <!-- /FAVICON -->
</head>
<body>
    <div class="site-wrapper">
        {% include header.html %}

        <main class="site-content" role="main">
            {{ content }}

            <!-- <aside class="site-sidebar" role="complementary">
                <h3>Документация</h3>

                <ul class="site-list">
                    <li class="site-list__item">
                        <a href="https://developer.mozilla.org/ru/" target="_blank">MDN</a>
                    </li>
                    <li class="site-list__item">
                        <a href="https://learn.javascript.ru/" target="_blank">learn.javascript.ru</a>
                    </li>
                    <li class="site-list__item">
                        <a href="https://ru.reactjs.org/" target="_blank">ReactJs</a>
                    </li>
                    <li class="site-list__item">
                        <a href="https://ru.bem.info/" target="_blank">БЭМ</a>
                    </li>
                </ul>
            </aside> -->
        </main>

        {% include footer.html %}
    </div>
</body>
</html>